* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/***** FONT-FACES *****/
@font-face {
  font-family: 'NexaBold';
  src: url('../font/NexaBold.woff') format('woff'),
    url('../font/NexaBold.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy-light';
  src: url('../font/Gilroy-Light.woff') format('woff'),
    url('../font/Gilroy-Light.woff2') format('woff2');
  font-weight: normal;
}
/***** Variables CSS *****/
:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #0f059a;
  --secondary: #191964;
  --neon: #02fccf;
}
/******** COOKIES POPUP *******/
.window.floating.right {
  bottom: 0 !important;
  right: 3em;
  border-top-left-radius: 0.5em !important;
  border-top-right-radius: 0.5em !important;
  background: var(--black) !important;
}
.floating.classic .spopupbtnok {
  display: inline-block !important;
  background: var(--primary) !important;
  color: var(--neon) !important;
}
.floating.classic .spopupbtnok:hover {
  background: var(--neon) !important;
  color: var(--black) !important;
}

/***** Version PC *****/
html {
  font-family: 'NexaBold', sans-serif;
  font-size: 1rem;
}
body {
  line-height: 1.3;
}

.texte {
  font-family: 'Gilroy-light';
}

.title {
  margin: 5% 10%;
  font-size: 3.5rem;
}

/*********  NAV  ***********/
/* NavBar 
.navigation {
  background: rgba(255, 255, 255, 0);
}
.nav-container {
}
.theLogo {
  width: 271px;
  margin: 46px 0 34px 164px;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 150px;
  top: 20px;
}
nav ul li {
  float: left;
  position: relative;
}*/

nav {
  background: rgba(255, 0, 0, 0);
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  margin-right: 10%;
}

nav ul li a {
  font-family: 'NexaBold';
  font-size: 21px;
  display: block;
  padding: 0 60px;
  line-height: 100px;
  background: #ffffff00;
  color: var(--black);
  text-decoration: none;
}
header::before {
  content: '';
  position: absolute;
  background: var(--primary);
  width: 32%;
  height: 100vh;
  z-index: -2;
}

/*********  ACCUEIL    ***********/

.logo {
  width: 17%;
  margin-left: 7%;
  margin-top: -4%;

}
.banniere {
  width: 60%;
  z-index: 1;
  margin-left: 26%;
  margin-top: 4%;
}
.banniere2 {
  display: none;
}

.containeur-accueil {
    background: rgb(0 0 0 / 41%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 48%;
    height: 33%;
    position: absolute;
    top: calc(55% - 17.5%);
    left: 5%;
    z-index: 2;
}


.containeur-accueil h2 {
  color: var(--white);
  font-family: sans-serif;
  margin-bottom: 40px;
}
.containeur-accueil h1 {
  color: var(--white);
  font-family: 'NexaBold';
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.containeur-accueil h1::before {
  position: absolute;
  content: '';
  width: 20%;
  height: 3px;
  bottom: 150px;
  background-color: var(--neon);
}

.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  bottom: 35px;
  right: 30px;
  color: var(--neon);
  font-size: 24px;
}
.fa-chevron-left {
  right: 80px;
}

/******** BOUTONS ********/
button {
  padding: 20px 60px;
  background: var(--white);
  border-radius: 100px;
  border: none;
  color: var(--primary);
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.primary {
  background: var(--primary);
  color: var(--neon);
}
.primary:hover {
  background: var(--neon);
  color: var(--primary);
  cursor: pointer;
}
/******** QUI SOMMES NOUS ********/
#quisommesnous {
  background: none;
}
.title-about::before {
  position: absolute;
  content: '';
  width: 20%;
  height: 3px;
  bottom: 0;
  left: 11%;
  background-color: var(--neon);
}
.container-about {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 60%;
}
.subtitle-about {
  font-size: 2.25rem;
  margin-bottom: 2.688rem;
}
.texte-about p {
  margin-bottom: 2.688rem;
}
.texte-about,
.image-about {
  width: 50%;
}
.texte-about {
  display: flex;
  flex-direction: column;
  padding: 20% 4%;
}
.image-about::before {
  content: '';
  display: block;
  position: absolute;
  left: 22%;
  top: 130%;
  height: 43.1rem;
  width: 29.5rem;
  border: 4px solid var(--primary);
  z-index: -1;
}

/******** BANDEAU COMPTEURS *******/
.bandeau {
  display: flex;
  background: var(--primary);
  height: 18.4rem;
  width: 100%;
  margin-top: 8rem;
}
.ul-bandeau {
  display: flex;
  flex-direction: row;
  padding: 3rem 15rem;
  width: 100%;
  justify-content: space-around;
}
.li-bandeau p {
  color: var(--white);
}
li.li-bandeau {
  text-align: center;
}
i {
  color: var(--white);
  font-size: 3rem;
}*/
i.fas.fa-building, i.fas.fa-hands-helping, i.fas.fa-building {
  margin-bottom: 30px;
  margin-top: -20px;
}
.counter{
  color: var(--white);
  margin: 30px 0;
  font-size: 2rem;
}
.text-counter{
  color: var(--white);
  margin-bottom: 30px;
  margin-top: 30px;
}

/******** NOS PRESTATIONS *********/

#prestations{
  display: flex;
  flex-wrap: wrap;
}
.image-presta {
  position: relative;
}
.img-presta {
  width: 100%;
}
.title-presta {
  position: absolute;
  color: var(--white);
  left: 0;
  top: 0;
}
.title-presta::before {
  position: absolute;
  content: '';
  width: 20%;
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: var(--neon);
}
.container-presta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 80%;
  margin: auto;
  filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.25));
  margin-top: -12%;
  margin-bottom: 10%;
}
.box-presta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box-presta img {
  transition: 1s;
  padding: 15px;
  width: 420px;
}
.box-presta img:hover {
  transform: scale(1.2);
}
.article-presta {
  width: 46%;
  padding: 3.75rem;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.article-presta:nth-child(odd) {
  background: var(--primary);
  color: var(--white);
}
.article-presta h4 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

/******** NOS PARTENAIRES *********/
.logo_partenaires {
  width: 100px;
  filter: grayscale(100%);
}
.logo_partenaires:hover {
  transition: 1s;
  filter: grayscale(0);
}
.container-partenaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-right: 5%;  
  white-space: nowrap;
  animation: scrollTxt 200s linear infinite;
}
.container-partenaires figure {
  margin-right: 12%;
}
.container-effet{
  width: 100%;
  overflow: hidden;
}

@keyframes scrollTxt {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(-100%,0);
  }
}

/******** CONTACT *********/
#contact {
  background: url('../img/back-contact.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 890px;
  position: relative;
}
.container-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 42rem;
  position: absolute;
  top: calc(25% - 120px);
  left: calc(25% - 200px);
}
.infos {
  background: var(--primary);
  opacity: 0.75;
  height: inherit;
  width: 30%;
}
.formulaire {
  background: var(--white);
  height: inherit;
  width: 70%;
  display: flex;
  padding: 5%;
}
form {
  width: 100%;
}
input,
textarea {
  width: 100%;
}
#nom,
#prenom {
  width: 45%;
}
.nomPrenom {
  display: flex;
  justify-content: space-between;
}
small {
  float: right;
}
.title-contact {
  text-align: center;
}
input,
textarea {
  padding: 10px 0;
  outline: none;
  background: transparent;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid var(--primary);
}
textarea#message {
  min-height: 50px;
  max-height: 170px;
}
.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infos p {
  color: var(--white);
  margin-bottom: 1.25rem;
}
.logoContact {
  width: 80%;
  margin-bottom: 5rem;
  margin-left: 1.875rem;
}

/****************************/
/*MAP*/
/****************************/
#mapid{
  height: 420px;
  margin-top: -10px;
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}

/******** FOOTER *********/
footer {
  background-color: var(--primary);
  height: 8.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.logoFooter {
  width: 10%;
}
footer p {
  color: var(--white);
}
a.text-white {

  color: white;
}
/****************************/
/****************************/
/******* MEDIA QUERIES ******/
/****************************/
/****************************/

/******    ACCUEIL      *****/
@media screen and (max-width: 375px) {
  main{
    width: 184%;
  }
  .menu_desktop {
    display: none;
  }
  .bloc-bleu {
    width: 60%;
  }
  .banniere {
    display: none;
  }
  .banniere2 {
    display: block;
    position: absolute;
    right: 0;
    top: 20%;
  }
  .logo {
    width: 70%;
    padding: 35px 5px;
  }
  .containeur-accueil {
    top: 50%;
  }
  .containeur-accueil h1 {
    font-size: 20px;
    line-height: 22px;
    position: absolute;
    bottom: 25%;
  }
  .containeur-accueil h1::before {
    position: absolute;
    bottom: -30%;
    width: 35%;
  }
  .containeur-accueil h2 {
    position: absolute;
    top: 55%;
    width: 70%;
  }
  button {
    padding: 10px 40px;
    position: absolute;
    top: 83%;
    left: 40%;
    font-size: 1rem;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    display: none;
  }

  /******** QUI SOMMES NOUS ********/

  /******** BANNER BOTTOM ********/
  .banner-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary);
    width: 100%;
    height: 59px;
  }
  .logo-banner {
    width: 91px;
  }

  /********   CONTACT    **********/



  

  /********   FOOTER    **********/

  footer{
    width: 184%;
  }
  .container-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 25px;
    bottom: 45px;
  }
  .icone-reseau {
    margin: 15px;
    color: var(--primary); /************ faudra la changer */
  }
}
