* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/***** FONT-FACES *****/
@font-face {
  font-family: 'BrushScriptStd';
  src: url('../font/BrushScriptStd.woff') format('woff'),
    url('../font/BrushScriptStd.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'NexaBold';
  src: url('../font/NexaBold.woff') format('woff'),
    url('../font/NexaBold.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy-light';
  src: url('../font/Gilroy-Light.woff') format('woff'),
    url('../font/Gilroy-Light.woff2') format('woff2');
  font-weight: normal;
}
/***** Variables CSS *****/
:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #0f059a;
  --secondary: #191964;
  --neon: #02fccf;
}
/******** COOKIES POPUP *******/
.window.floating.right {
  bottom: 0 !important;
  right: 3em;
  border-top-left-radius: 0.5em !important;
  border-top-right-radius: 0.5em !important;
  background: var(--black) !important;
}
.floating.classic .spopupbtnok {
  display: inline-block !important;
  background: var(--primary) !important;
  color: var(--neon) !important;
}
.floating.classic .spopupbtnok:hover {
  background: var(--neon) !important;
  color: var(--black) !important;
}

/***** Version PC *****/
html {
  font-family: 'NexaBold', sans-serif;
  font-size: 1rem;
}
body {
  line-height: 1.3;
}

.texte {
  font-family: 'Gilroy-light';
}

.title {
  margin: 5% 10%;
  font-size: 3.5rem;
}
a {
  text-decoration: none;
}
.logo_partenaires {
  cursor: none;
}
/*********  NAV  ***********/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 100px;
  height: 10vh;
  z-index: 9;
}
nav.sticky {
  padding: 5px 100px;
  background: var(--black);
}
.logo {
  font-family: 'BrushScriptStd';
  position: relative;
  color: var(--white);
  text-decoration: none;
  transition: 0.6s;
  font-size: 2rem;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  position: relative;
  margin: 0 25px;
  font-family: 'NexaBold';
}
header::before {
  content: '';
  position: absolute;
  background: var(--primary);
  width: 32%;
  height: 100vh;
  z-index: -2;
  border-radius: 0px 0px 40px 0px;
}
nav.sticky ul li a {
  color: var(--white);
}
/*nav a.active,*/
nav a:hover,
nav.sticky a:hover {
  color: var(--neon);
}
nav a:hover::after,
nav.sticky a:hover::after {
  transform: scaleX(1);
}
nav a::after,
nav.sticky a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--primary);
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s linear;
}
nav.sticky a::after {
  background: var(--white);
}
/* menu burger */
label #btn,
label #cancel {
  color: var(--white);
  font-size: 1.875rem;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/*********  ACCUEIL    ***********/

.banniere {
  width: 60%;
  z-index: 1;
  margin-left: 26%;
  margin-top: 5.5%;
}
.banniere2 {
  display: none;
}

.containeur-accueil {
  background: rgb(0 0 0 / 41%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 48%;
  height: 33%;
  position: absolute;
  top: calc(55% - 17.5%);
  left: 5%;
  z-index: 2;
}

.containeur-accueil h2 {
  color: var(--white);
  font-family: sans-serif;
  margin-bottom: 40px;
}
.containeur-accueil h1 {
  color: var(--white);
  font-family: 'NexaBold';
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.containeur-accueil h1::before {
  position: absolute;
  content: '';
  width: 20%;
  height: 3px;
  bottom: 150px;
  background-color: var(--neon);
}

/******** BOUTONS ********/
button {
  padding: 20px 60px;
  background: var(--white);
  border-radius: 100px;
  border: none;
  color: var(--primary);
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.primary {
  background: var(--primary);
  color: var(--neon);
}
.primary:hover {
  background: var(--neon);
  color: var(--primary);
  cursor: pointer;
}
/******** QUI SOMMES NOUS ********/
#quisommesnous_mobile {
  display: none;
}

#quisommesnous {
  background: none;
  margin-top: 9%;
}
.title-about::before {
  position: absolute;
  content: '';
  width: 12%;
  height: 3px;
  bottom: -6%;
  left: 23%;
  background-color: var(--neon);
}
.container-about {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 60%;
}
.subtitle-about {
  font-size: 2.25rem;
  margin-bottom: 2.688rem;
}
.texte-about p {
  margin-bottom: 2.688rem;
}
.texte-about,
.image-about {
  width: 50%;
}
.texte-about {
  display: flex;
  flex-direction: column;
  padding: 20% 4%;
}
.image-about::before {
  content: '';
  display: block;
  position: absolute;
  left: 22%;
  top: 120%;
  height: 43.1rem;
  width: 29.5rem;
  border: 4px solid var(--primary);
  z-index: -1;
}

/******** BANDEAU COMPTEURS *******/
.bandeau {
  display: flex;
  background: var(--primary);
  height: 18.4rem;
  width: 100%;
  margin-top: 8rem;
}
.ul-bandeau {
  display: flex;
  flex-direction: row;
  padding: 3rem 15rem;
  width: 100%;
  justify-content: space-around;
}
.li-bandeau p {
  color: var(--white);
}
li.li-bandeau {
  text-align: center;
}
i {
  color: var(--white);
  font-size: 3rem;
}
i.fas.fa-building,
i.fas.fa-hands-helping,
i.fas.fa-building {
  margin-bottom: 30px;
  margin-top: -20px;
}
.counter {
  color: var(--white);
  margin: 30px 0;
  font-size: 2rem;
}
.text-counter {
  color: var(--white);
  margin-bottom: 30px;
  margin-top: 30px;
}

/******** NOS PRESTATIONS *********/

#prestations {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -6%;
}
#prestations_mobile {
  display: none;
}
.image-presta {
  position: relative;
}
.img-presta {
  width: 100%;
}
.title-presta {
  position: absolute;
  color: var(--white);
  left: 0;
  top: 0;
}
.title-presta::before {
  position: absolute;
  content: '';
  width: 20%;
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: var(--neon);
}
.container-presta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 80%;
  margin: auto;
  filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.25));
  margin-top: -12%;
  margin-bottom: 10%;
}
.box-presta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box-presta img {
  transition: 1s;
  padding: 15px;
  width: 420px;
}
.box-presta img:hover {
  transform: scale(1.2);
}
.article-presta {
  width: 46%;
  padding: 3.75rem;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.article-presta:nth-child(odd) {
  background: var(--primary);
  color: var(--white);
}
.article-presta.trois {
  background: var(--black);
  color: var(--white);
}
.article-presta h4 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

/******** NOS PARTENAIRES *********/
#partenaires_mobile {
  display: none;
}
.logo_partenaires {
  width: 100px;
  filter: grayscale(100%);
}
.logo_partenaires:hover {
  transition: 1s;
  filter: grayscale(0);
}
.container-partenaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-right: 5%;
  white-space: nowrap;
  animation: scrollTxt 200s linear infinite;
}
.container-partenaires figure {
  margin-right: 12%;
}
.container-effet {
  width: 100%;
  overflow: hidden;
}

@keyframes scrollTxt {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/******** CONTACT *********/
#contact {
  background: url('../img/back-contact.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 890px;
  position: relative;
}
.container-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 42rem;
  position: absolute;
  top: calc(25% - 120px);
  left: calc(25% - 200px);
}
.infos {
  background: var(--primary);
  opacity: 0.75;
  height: inherit;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulaire {
  background: var(--white);
  height: inherit;
  width: 70%;
  display: flex;
  padding: 5%;
}
form {
  width: 100%;
}
input,
textarea {
  width: 100%;
}
#nom,
#prenom {
  width: 45%;
}
.nomPrenom {
  display: flex;
  justify-content: space-between;
}
small {
  float: right;
}
.title-contact {
  text-align: center;
}
input,
textarea {
  padding: 10px 0;
  outline: none;
  background: transparent;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid var(--primary);
}
textarea#message {
  min-height: 50px;
  max-height: 170px;
}

.infos p {
  color: var(--white);
  margin-bottom: 1.25rem;
}
.logoContact {
  width: 80%;
  margin-bottom: 5rem;
  margin-left: 1.875rem;
}

/****************************/
/*MAP*/
/****************************/
#mapid {
  height: 420px;
  margin-top: -10px;
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}

/******** FOOTER *********/
footer {
  background-color: var(--primary);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.logoFooter {
  width: 10%;
}
footer p {
  color: var(--white);
  font-size: 0.8rem;
}
a.text-white {
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  /******** INITIALISATION *********/
  #prestations,
  #quisommesnous {
    display: none;
  }
  h2.title {
    font-size: 1.8rem;
  }
  /*
  nav.sticky{
    display: none;
  }
  .menu_desktop{
    display: none;
  }
  */
  header::before {
    width: 60%;
  }
  .banniere {
    display: none;
  }
  .banniere2 {
    display: flex;
  }
  .logo {
    font-size: 1rem;
  }

  /******** ACCUEIL *********/

  #accueil {
    display: flex;
    justify-content: flex-end;
  }
  .banniere2 {
    margin-top: 130px;
  }
  .bouton {
    width: 80%;
  }
  .containeur-accueil h1 {
    font-size: 20px;
    line-height: 25px;
  }

  /******** QUI SOMMES NOUS MOBILE *********/

  #quisommesnous_mobile {
    display: block;
    margin-top: 290px;
  }
  .img-about {
    width: 60%;
    margin-left: 19%;
  }
  .texte {
    margin-top: 75px;
    margin-bottom: 20px;
    padding: 0 10%;
  }
  .button-about {
    margin-bottom: -80px;
  }

  /******** PRESTATIONS*********/

  #prestations_mobile {
    display: block;
  }
  .article-presta {
    width: 100%;
    color: var(--white);
  }
  .container_prestations {
    width: 100%;
    padding: 2% 5%;
  }
  .img_presta_mob {
    width: 100%;
  }
  .article-presta h4 {
    font-size: 1.75rem;
  }
  .article-presta {
    padding: 25px;
    margin-top: -5px;
  }
  .presta1 {
    background: #e0e0e0;
    color: #000000;
  }
  .presta2 {
    background: var(--primary);
  }
  .presta3 {
    background: var(--black);
  }

  /******** BANNER *********/

  .bandeau {
    height: fit-content;
  }
  .fa,
  .fas {
    font-size: 2rem;
  }
  .counter {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .text-counter {
    margin-top: 10px;
  }
  li.li-bandeau {
    margin-top: 5%;
  }
  .logo_partenaires {
    width: 80px;
  }
  /******** CONTACT *********/
  .container-contact {
    display: block;
    height: fit-content;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5%;
  }
  .infos {
    width: 100%;
  }
  .formulaire {
    height: 600px;
    width: 100%;
  }
  .nomPrenom {
    display: block;
  }
  #nom,
  #prenom {
    width: 100%;
  }
  button {
    margin: 20px 60px;
  }
  small {
    margin-top: 85px;
  }

  /******** BANDEAU *********/
  .ul-bandeau {
    padding: 0;
  }
  /******** FOOTER *********/
  #mapid {
    height: 280px;
  }
  /******** FOOTER *********/
  footer {
    padding: 0 5%;
  }
  footer p {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  button {
    margin: 0;
  }
  .article-presta h4 {
    font-size: 1.3rem;
  }
  .infos p {
    text-align: center;
  }
  .ul-bandeau {
    padding: 0;
    margin-top: 20px;
  }
  .button-about {
    margin-left: 35px;
  }
  .bouton {
    display: none;
  }
}

@media (max-width: 375px) {
  .logo {
    font-size: 1.2rem;
    margin-right: 0;
  }
}

/******** MENU burger *******/
@media (max-width: 425px) {
  .menu_desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    font-size: 1.5rem;
    margin-right: 5.625rem;
  }
  label #btn {
    display: block;
  }
  .nav-ul li {
    color: var(--white);
    font-size: 20px !important;
  }
  .nav-ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    background: var(--primary);
    left: -100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: all 0.5s;
  }
  .nav-ul li {
    font-size: 40px;
    margin: 30px 0;
    color: var(--white);
  }
  nav {
    padding: 5px 100px;
    background: var(--black);
    color: var(--white);
  }
  #check:checked ~ .nav-ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}
