* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/***** FONT-FACES *****/
@font-face {
  font-family: 'NexaBold';
  src: url('../font/NexaBold.woff') format('woff'),
       url('../font/NexaBold.woff2') format('woff2');
  font-weight: normal;
}
/***** Variables CSS *****/
:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #0f059a;
  --secondary: #191964;
  --neon: #02fccf;
}

/***** Version PC *****/
html {
  font-family: 'NexaBold', sans-serif ;
  font-size: 1rem;
}
body {
  line-height: 1.3;
}
/* NavBar */
.navigation {
  background: rgba(255, 255, 255, 0);
}
.nav-container {
}
.theLogo {
  width: 271px;
  margin: 46px 0 34px 164px;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 150px;
  top: 20px;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  font-family: 'NexaBold';
  font-size: 21px;
  display: block;
  padding: 0 60px;
  line-height: 100px;
  background: #ffffff00;
  color: var(--black);
  text-decoration: none;
}



/*********  ACCUEIL    ***********/
.bloc-bleu{
  width: 32%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--primary);
}

.banniere{
  margin: auto;
  margin-left: 26%;
  width: 58%;
}
.containeur-accueil{
  background: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
width: 962px;
height: 241px;
left: 115px;
top: 447px;

}

.containeur-accueil h2{
  color: var(--white);
  font-family: sans-serif;
}
.containeur-accueil h1{
  color: var(--white);
  font-family:'NexaBold';
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase; 
}








.fa-chevron-left, .fa-chevron-right{
  position: absolute;
  bottom: 35px;
  right: 30px;
  color: var(--neon);
  font-size: 24px;
}
.fa-chevron-left{
  right: 80px;
}

/******* MEDIA QUERIES ******/
@media screen and (max-width: 375px) {
  /******** BANNER BOTTOM ********/

  .banner-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary);
    width: 100%;
    height: 59px;
  }
  .logo-banner {
    width: 91px;
  }

  /********   FOOTER    **********/
  .container-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 25px;
    bottom: 45px;
  }
  .icone-reseau {
    margin: 15px;
    color: var(--primary); /************ faudra la changer */
  }
}
